.button {
  @apply rounded-sm;
  @apply w-max;
  @apply py-3;
  @apply px-8;

  transition: opacity 0.2s ease-in-out;
  color: white;
}

.button:hover {
  @apply opacity-90;
}

.button:focus {
  @apply opacity-90;

  outline: none;
}

.button.primary {
  @apply bg-primary-500;
}

.button.white {
  @apply bg-white text-black;
}

.button.secondary {
  @apply bg-secondary-500;
}

.button.fluid {
  @apply w-full;
}
