.button {
  @apply rounded-sm;
  @apply w-max;
  @apply py-3;
  @apply px-8;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  color: white;
}

.button:disabled {
  @apply bg-gray-300 !important;
  cursor: auto;
}

.button:focus {
  @apply opacity-90;

  outline: none;
}

.button.primary {
  @apply bg-primary-500;
}

.button.primary:hover {
  @apply bg-primary-600;
}

.button.white {
  @apply bg-white text-black;
}

.button.white:hover {
  @apply bg-primary-500 text-white;
}

.button.secondary {
  @apply bg-secondary-500;
}

.button.secondary:hover {
  @apply bg-secondary-600 text-white;
}

.button.fluid {
  @apply w-full;
}
