@import 'tailwindcss/tailwind.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .contained {
    @apply mx-auto max-w-screen-2xl;
  }
}

@layer base {
  @font-face {
    font-family: 'Dancing Script';
    font-weight: 400;
    font-style: normal;
    src: url('../public/fonts/DancingScript-Regular.ttf');
  }

  @font-face {
    font-family: 'Dancing Script';
    font-weight: 700;
    font-style: bold;
    src: url('../public/fonts/DancingScript-SemiBold.ttf');
  }

  @font-face {
    font-family: 'Open-Sans';
    font-weight: 300;
    font-style: normal;
    src: url('../public/fonts/OpenSans-Light.ttf');
  }

  @font-face {
    font-family: 'Open-Sans';
    font-weight: 400;
    font-style: normal;
    src: url('../public/fonts/OpenSans-Regular.ttf');
  }

  @font-face {
    font-family: 'Open-Sans';
    font-weight: 400;
    font-style: italic;
    src: url('../public/fonts/OpenSans-Italic.ttf');
  }

  @font-face {
    font-family: 'Open-Sans';
    font-weight: 700;
    font-style: bold;
    src: url('../public/fonts/OpenSans-SemiBold.ttf');
  }

  @font-face {
    font-family: 'Open-Sans';
    font-weight: 700;
    font-style: italic;
    src: url('../public/fonts/OpenSans-SemiBoldItalic.ttf');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  p,
  a {
    @apply antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Dancing Script, sans-serif;

    @apply my-2;
    @apply font-bold;
  }

  h1 {
    @apply text-5xl;
    @apply md:text-7xl;
    @apply lg:text-9xl;
  }

  h2 {
    @apply text-3xl;
    @apply md:text-5xl;
    @apply lg:text-7xl;
  }

  h3 {
    @apply text-lg;
    @apply md:text-xl;
    @apply lg:text-3xl;
  }

  .subtitle {
    @apply text-xl;
    @apply md:text-3xl;
    @apply opacity-70;
  }

  input,
  textarea {
    @apply bg-primary-50 rounded-sm p-2 border border-primary-200 outline-none text-sm;
  }

  label {
    @apply w-max px-2;

    letter-spacing: 0.1rem;
    transition: all 0.1s ease-in-out;
  }

  input::placeholder {
    @apply text-gray-400;
  }

  input:focus + label,
  textarea:focus + label {
    @apply text-primary-50 bg-primary-700;
  }

  .pattern {
    background-color: rgba(0, 0, 0, 0.04);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='black' fill-opacity='0.04'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
  }
  /* .pattern {
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='black' fill-opacity='0.03' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
  } */
}
