.background-shift {
  background-size: 150%;
  height: 120vh;
  width: 120vw;
  overflow: hidden;
  animation: shift 10s ease-in-out infinite alternate-reverse;
}

@keyframes shift {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}
