@import 'tailwindcss/tailwind.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .contained {
    @apply mx-auto max-w-screen-2xl;
  }
}

@layer base {
  @font-face {
    font-family: 'Vollkorn';
    font-weight: 400;
    font-style: normal;
    src: url('../public/fonts/Vollkorn-Regular.ttf');
  }

  @font-face {
    font-family: 'Vollkorn';
    font-weight: 600;
    font-style: bold;
    src: url('../public/fonts/Vollkorn-SemiBold.ttf');
  }

  @font-face {
    font-family: 'PT-Sans';
    font-weight: 400;
    font-style: normal;
    src: url('../public/fonts/PTSans-Regular.ttf');
  }

  @font-face {
    font-family: 'PT-Sans';
    font-weight: 400;
    font-style: italic;
    src: url('../public/fonts/PTSans-Italic.ttf');
  }

  @font-face {
    font-family: 'PT-Sans';
    font-weight: 600;
    font-style: bold;
    src: url('../public/fonts/PTSans-Bold.ttf');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  p,
  a {
    @apply antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Vollkorn, sans-serif;
  }

  h1 {
    @apply text-3xl;
    @apply md:text-6xl;
  }

  h2 {
    @apply text-xl;
    @apply md:text-3xl;
  }

  h3 {
    @apply text-lg;
  }

  .subtitle {
    @apply md:text-xl;
    @apply opacity-70;
  }
}
